html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: white;
}

/* Grid layout for body */
/* Default body layout for the gallery view */
body {
  display: grid;
  grid-template-rows: 0.35fr 0.55fr 5fr 3fr 1fr;
  margin: 0;
}

