@media (max-width: 450px) {
    header .logo {
        font-size: 1.5em;
    }
    
    .main-nav {
        display: none;
    }
    
    .main-nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    
    body .bio {
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    
    body .bio img {
        width: 200px;
        height: 200px;
    }
    
    .bio-info {
        text-align: center;
    }
    
    body .bio .bio-info ul {
        display: flex;
        justify-content: center;
    }
    
    main .gallery {
        grid-template-columns:repeat(2, 1fr); 
        gap: 10px; 
        padding: 10px; /
    }
}
