@media (max-width: 768px) {
    header .logo{
        font-size: 3em;
    }
    .main-nav{
     display: none;
    }
  
    .main-nav ul li {
      margin-left: 0;
      margin-bottom: 10px;
    }

    body .bio {
        display: flex; 
        flex-direction: column; 
        padding: 40px;
    }
    
    body .bio img {
        width: 200px;
        height: 200px;
    }
    
    .bio-info {
        text-align: center; 
    }
    
    body .bio .bio-info ul {
        display: flex; 
        justify-content: center;    
    }
    

    

    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      padding: 20px;
    }
  }