@media (max-width: 500px) {
   

    body header {
        padding: 0;
    }
    body header .main-nav{
        display: none;
    }
    body header .ham-nav{
        display: block; 
        margin-right: 30px; 
    }
    body header .ham-nav button{
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        color: white;
    }


    body header .logo {
        font-size: 1.5em;
        margin-left: 20px;
    }
    body main{
        padding: 10px;
    }
    body .editor{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 10px;
    }
    body .user-interface{
        margin-top: 0;
        padding: 12px;
    }
    body .user-interface .line-1{
        margin-top: 20px;
        gap: 25px;
    }
    body .user-interface .line-2{
        gap: 25px;
    }

    body main .gallery .no-images-found{
        text-align: start;
        padding: 0;
        grid-column: 1  ;
    }
  
    body .bio {
      grid-template-columns:1fr;
      padding: 10px;
    }
  
    body .bio img {
      width: 100%;
      max-width: 200px;
      height: auto;
      margin-top: 40px;
    }
  
    .bio-info {
      margin: 0;
      text-align: center;
      width: 100%;
    }
  
    body .bio .bio-info ul {
      justify-content: center;
      margin-top: 20px;
    }

    body .bio .bio-info p {
        margin-bottom: 0px;
      }
  
    main .gallery {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding: 10px;
      box-sizing: border-box;
    }
  
    .user-interface .btn {
      font-size: 40px;
    }
  
      canvas {
      width: 100%;
      grid-row: 1;
      grid-column: 1 / -1;
    }
  
}
