footer {
  background-color: blueviolet;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: 150px;
}

footer p {
  font-weight: bold;
  font-size: 1.7em;
}

footer small {
  font-size: 0.8em;
} 