footer {
  background-color: blueviolet;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer p {
  font-size: 1.7em;
  font-weight: bold;
}

footer small {
  font-size: 0.9em;
}