main {
  background-color: rgba(36, 34, 34, 0.815);
  padding: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 50px;
  background-color: rgba(36, 34, 34, 0.815);
}

.meme {
  width: 100%;
  border: none;
  border-radius: 10px;
}

canvas {
  border: 1px solid black;
}

.editor {
  display: none;

}