.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.search input[type="search"] {
  width: 300px;
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid blueviolet;
}

.search input[type="search"]:focus {
  border-color: darkviolet;
}